.header-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(var(--primary-int-color), 0.2);
  border-bottom: 0.1rem solid var(--black-color);
}

.header-wrapper__content,
.header-wrapper__illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  text-align: center;
}

.header-wrapper__title {
  font-size: 3.5rem;
  color: var(--white-color);
}

.header-wrapper__logo {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    flex-flow: row wrap;
    height: 10rem;
  }

  .header-wrapper__content,
  .header-wrapper__illustration {
    height: 100%;
    width: 50%;
  }

  .header-wrapper__title {
    letter-spacing: 0.2rem;
    font-size: 4rem;
  }

  .header-wrapper__logo {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
  }
}

.game {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.game__explication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: var(--white-color);
}

.game__explication-title {
  font-size: 4rem;
  text-align: center;
}

.game__description {
  font-size: 2.5rem;
  text-align: center;
}

.game__cards {
  width: 100%;
}

.game__timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.game__result-text {
  font-size: 2rem;
  background-color: rgba(var(--black-color), 0.3);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--white-color);
  text-align: center;
}

.card {
  position: relative;
  background-image: url(https://cdn.pixabay.com/photo/2021/02/01/00/34/question-mark-5968971_640.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19rem 10rem;
  width: 25%;
  height: 25%;
  cursor: pointer;
}

.card__img {
  object-fit: cover;
  opacity: 0;
  width: 19rem;
  height: 10rem;
}

@media screen and (min-width: 768px) {
  .game__explication {
    flex-flow: column wrap;
    margin-top: 2rem;
  }

  .game__description {
    margin-top: 2rem;
  }

  .game__wrapper-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

  .game__cards {
    width: 50%;
  }

  .game__timer {
    margin-top: 2rem;
  }
}
